# Python
__pycache__/
*.pyc
*.pyo
.venv/
venv
.env

# Jupyter
.ipynb_checkpoints/


# OS
.DS_Store

# Models (large files)
*.npy
*.pkl
*.bin
*.pt
*.pth

# Data outputs
outputs/predictions/
eval/tables/*.csv
eval/tables/*.png

# Virtual environment
venv/
.venv/
refactor.ipynb
